# Copyright Fauna, Inc.
# SPDX-License-Identifier: MIT-0

# Binaries for programs and plugins
sql2fql
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Jetbrains
.idea/*

.vscode/launch.json

__debug_bin
